<div class="full-container examiner-dashboard">
  <%= render "partial/back_button", page_name: "home", page_path: root_path %>
  <div class="part1">
    <div class="header">
      <h2 class="text-white">DASHBOARD</h2>
      <h3 class="text-white">Admin</h3>
    </div>

    <div class="content">
      <% @age_sections.each do |age_section| %>
        <%= link_to groups_path(age_section_id: age_section.id) do %>
          <%= render "partial/admin_card", title:"#{ age_section.value} ans", icon: "group", icon_color: "#EF4444", value: age_section.groups.count %>
        <% end %>
      <% end %>

      <%= render "partial/admin_card", title: "active session", icon: "group", icon_color: "#EF4444" %>
    </div>
  </div>

  <div class="part2" data-controller="chart">
    <div data-chart-target="chart"
         data-complete="<%= @ratted_groups.count%>"
         data-remaining="<%= @remaining_groups.count%>"
         id="chart"
    ></div>
  </div>
</div>
