<div class="dashboard-wrapper">
  <div class="dashboard-header">
    <div class="header-content">
      <div class="titles">
        <%= render "partial/back_button", page_name: "home", page_path: root_path %>
        <h2>Tableau de bord</h2>
        <h3>Bonjour, <span class="highlight"><%= current_examiner.name %></span></h3>
      </div>
    </div>
  </div>

  <div class="dashboard-container">
    <div class="cards-grid">
      <% @age_sections.each do |age_section| %>
        <%= link_to groups_path(age_section_id: age_section.id), class: "card-link" do %>
          <%= render "partial/admin_card",
              title: "#{age_section.value} ans",
              icon: "group",
              value: age_section.groups.count %>
        <% end %>
      <% end %>

      <%= render "partial/admin_card", title: "Active Session", icon: "group", value: "On" %>
    </div>

    <div class="chart-section" data-controller="chart">
      <h4>Ma Progression</h4>
      <div id="chart"
           data-chart-target="chart"
           data-complete="<%= @ratted_groups.count %>"
           data-remaining="<%= @remaining_groups.count %>">
      </div>
    </div>
  </div>
</div>
