<% submited_examiner = category.submited?(group) %>
<% group.age_section.examiners.each do |examiner| %>
  <% if submited_examiner.include?(examiner) %>
    
    <% criteria = examiner.criteria_submited(group, category.name) %>

    <div class="dropdown-wrapper">
      <button class="btn-outline-brand dropdown-toggle" type="button" data-bs-toggle="dropdown">
        <span><%= examiner.name %></span>
        <span class="badge-check">Complété</span>
      </button>

      <ul class="dropdown-menu custom-dropdown">
        <li class="dd-header">
          <span>Moyenne</span>
          <span class="score-pill"><%= (criteria.sum(:values) / criteria.count).round(2) %></span>
        </li>
        <li><hr class="dropdown-divider"></li>

        <%# --- DÉBUT DE LA BOUCLE --- %>
        <% criteria.each do |criterium| %>
          <li class="dd-item">
            <span class="c-name"><%= criterium.name %></span>
            <span class="c-val"><%= criterium.values %></span>
          </li>
        <% end %>
        <%# --- FIN DE LA BOUCLE (C'était ici l'erreur) --- %>

      </ul>
    </div>
  <% else %>
    <div class="dropdown-wrapper">
      <button class="btn-outline-brand dropdown-toggle" type="button" data-bs-toggle="dropdown">
        <span><%= examiner.name %></span>
      </button>
    </div>
  <% end %>
<% end %>
