<%= link_to group_path(group), style: "text-decoration: none;", id: "group", data: {id: group.id} do %>

  <%# Gestion du classement %>
  <% classement ||= false %>
  <% if classement %>
    <span class="rank-badge rank-<%= classement %>"><%= classement %></span>
  <% end %>

  <%= group.photo.attached? ? image_tag(group.photo) : image_tag("group_default.webp") %>
  <div class="group">
    <h5 class="h5"><%= group.name %></h5>
    <p><%= admin_signed_in? ? group.etablished : "#" + group.indentifiant %></p>
  </div>

  <% if  admin_signed_in?%>
    <p><%= group.final_marks if group.ratted %></p>
  <% elsif current_examiner.criteria_submited(group, categories[0].name).any? %>
    <% criteria = current_examiner.criteria_submited(group, categories[0].name) %>
    <p><%= criteria.sum(:values) / criteria.count %></p>
  <% end %>
<% end %>
