<div class="group-container" data-controller="search">
  <% if examiner_signed_in? %>
    <%= render "partial/back_button", page_name: "dashboard", page_path: examiner_dashboard_path %>
  <% else %>
    <%= render "partial/back_button", page_name: "dashboard", page_path: admin_dashboard_path %>
  <% end %>
  <div class="search-bar">
    <input type="text" data-search-target="input" placeholder="Rechercher par nom ou établissement..." name="query">
  </div>

  <h1><%= @age_section.value %> ans</h1>

  <div class="groups">
    <div class="nav">
      <% @group_type.each do |key, value| %>
        <%= link_to "#{key}", groups_path(ratted: value[1], age_section_id: @age_section.id), class: value[0]%>
      <% end %>
    </div>
      <%= render "groups", groups: @groups %>
    </turbo-frame>
  </div>

  <% if admin_signed_in? %>
    <%= link_to "Ajouter un groupe", new_group_path(age_section_id: @age_section.id), class: "join-btn" %>
  <% end %>
</div>
