<%= render "partial/back_button", page_name: "groups", page_path: groups_path(age_section_id: @age_section.id) %>

<div class="container px-2 py-4">
  <div class="bg-white shadow-sm rounded-4 p-3">
    <h5 class="text-center text-primary mb-4">Créer un nouveau groupe</h5>
    <%= form_with model: @group, url: groups_path(age_section_id: @age_section.id), local: true do |f| %>



      <div class="mb-3">
        <%= f.label :name, "Nom", class: "form-label small fw-semibold" %>
        <%= f.text_field :name, class: "form-control form-control-sm", placeholder: "Placez le nom du groupe", required: true %>
      </div>


      <div class="mb-3">
        <%= f.label :theme, "Thème", class: "form-label small fw-semibold" %>
        <%= f.text_field :theme, class: "form-control form-control-sm", placeholder: "Histoire de Maurice"%>
      </div>

      <div class="email">
        <%= f.label :email, "email", class: "form-label small fw-semibold" %>
        <%= f.email_field :email, class: "form-control form-control-sm", placeholder: "email", required: true %>
      </div>

      <div class="mb-3">
        <%= f.label :establishment_id, "Sélectionner l'établissement" %>
        <%= f.collection_select :establishment_id, @establishments, :id, :name %>
      </div>

      <div class="mb-3">
        <%= f.label :photo, "Insérer le logo du groups", class: "form-label small fw-semibold" %>
        <%= f.file_field :photo, direct_upload: true, accept: "image/*", id: "avatar_input", class: "form-control form-control-sm" %>
      </div>

      <div style="margin-top: 10px;">
        <img id="avatar_preview" style="max-width: 150px; border-radius: 10px;" />
      </div>

      <div class="d-grid">
        <%= f.submit "Publier", class: "btn btn-primary btn-sm " %>
      </div>

    <% end %>
  </div>
</div>
