<%= render "partial/back_button", page_name: "groupes", page_path: groups_path(age_section_id: @group.age_section.id) %>
<h1>Etablissement: <%= @group.etablished %></h1>
<h2>theme: <%= @group.theme %></h2>
<h3>members</h3>
<ul>
  <% @group.members.each do |member| %>
    <li><%= member.name %></li>
  <% end %>
</ul>
<% if @group.ratted %>
  <p>ratte: <%= @group.final_marks %></p>
  <p>time: <%= @group.timer %></p>
<% end %>

<% if admin_signed_in? %>
  <%= link_to "modifier les information", edit_group_path(@group), class: "btn btn-primary" %>
<% end %>

<% categories.each do |category| %>
  <% if admin_signed_in? %>
    <h3><%= category.name %></h3>
    <%= render "examiner_category", category: category, group: @group %>

  <% else %>
    <div class="dropdown">
      <% criteria = current_examiner.criteria_submited(@group, category.name) %>
      <% if criteria.any? %>
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <%= category.name %> achevée
        </button>
        <ul class="dropdown-menu">
          <p>moyenne: <%= criteria.sum(:values) / criteria.count %></p>
          <% criteria.each do |criterium| %>
            <p><%= criterium.name %>: <%= criterium.values %></p>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if examiner_signed_in? %>
  <div id="eval-group">
    <% if status.first_rate && current_examiner.criteria_submited(@group, CriteriumCategory.keys[0]).empty? %>
      <%= link_to CriteriumCategory.keys[0], new_criterium_path(categorie: CriteriumCategory.keys[0], group_id: @group.id ), class: "btn btn-primary" %>
    <% end %>
    <% if status.second_rate && current_examiner.criteria_submited(@group, CriteriumCategory.keys[1]).empty? %>
      <%= link_to CriteriumCategory.keys[1], new_criterium_path(categorie: CriteriumCategory.keys[1], group_id: @group.id ), class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>

<div class="video">
  <h2>video</h2>
  <% if !@group.video.attached? %>
    <p>aucune video n'as éte ajouter</p>
    <% if admin_signed_in? %>
      <%= link_to "ajouter une video", edit_group_path(@group, video: true), class:"btn btn-primary" %>
    <% end %>
  <% else %>
    <video id="player" playsinline controls>
      <source src="<%= url_for(@group.video) %>" type="<%= @group.video.content_type %>">
    </video>
  <% end %>
</div>

<script>
  document.addEventListener("turbo:load", () => {
    const playerElement = document.querySelector("#player")
    if (playerElement) {
      new Plyr(playerElement, {
        controls: [
          'play-large', 'play', 'progress', 'current-time', 'mute',
          'volume', 'settings', 'fullscreen'
        ]
      })
    }
  })
</script>
