<div class="logo">
  <%= image_tag "AI4GOOD_logo.jpg" %>
</div>

<div class="home-show-backround" style="background: url('<%= asset_path "menu_backround.jpg"%>')">
  <div class="space"></div>
  <nav class="home-menu">
    <h1>Menu</h1>
    <%= link_to "admin dashboard", admin_dashboard_path%>
    <%= link_to "examiner dashboard", examiner_dashboard_path%>
    <%= link_to "Classement", age_sections_path%>
  </nav>
</div>
