<% title ||= "title" %>
<% value ||= "empty" %>
<% icon ||= "" %>
<% icon_color ||= "#000000ff" %>

<div class="card">
  <div class="card-content">
    <div class="info">
      <p><%= title.upcase!%></p>
      <h4><%= value%></h4>
    </div>

    <div class="circle default-shadow" style="background-color: <%=icon_color%>;">
      <%= image_tag "#{icon}.svg" %>
    </div>
  </div>
  <span class="date"><%= Time.current.strftime("%Y-%m-%d %H:%M") %></span>
</div>
