<div class="dropdown burger">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <%= image_tag "menu_icon.svg" %>
  </a>

  <ul class="dropdown-menu">
    <li><%= link_to "Accueil", root_path, class: "dropdown-item" %></li>
    <% if who_is_connected? == "invite" %>
      <li><%= link_to "Admin Connexion", new_admin_registration_path, class: "dropdown-item" %></li>
      <li><%= link_to "Examiner Connexion", new_examiner_registration_path, class: "dropdown-item" %></li>
    <% elsif who_is_connected? == "examinateur" %>
      <li><%= link_to "Tableau de bord", examiner_dashboard_path, class: "dropdown-item" %></li>
      <button type="button" class="btn-logout" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fa-solid fa-right-from-bracket"></i> Déconnexion
      </button>
    <% elsif who_is_connected? == "admin" %>
      <li><%= link_to "Tableau de bord", admin_dashboard_path, class: "dropdown-item" %></li>
      <li><%= link_to "Paramètres", settings_admin_path, class: "dropdown-item" %></li>
      <li>
        <button type="button" class="btn-logout" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="fa-solid fa-right-from-bracket"></i> Déconnexion
        </button>
      </li>
      <%= render "partial/modal" %>
    <% end %>
  </ul>
</div>
