<button class="menu-trigger" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
  <i class="fa-solid fa-bars"></i> Menu
</button>

<div class="offcanvas offcanvas-end sidebar" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">

  <div class="offcanvas-header sidebar-header">
    <h5 class="offcanvas-title sidebar-title" id="offcanvasScrollingLabel">Navigation</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body sidebar-body">
    <div class="status-info">
      Statut : <span class="status-badge status-<%= who_is_connected? %>"><%= who_is_connected? %></span>
    </div>

    <div class="menu-nav-links">

      <%= link_to "Accueil", root_path, class: "menu-link" %>

      <% if who_is_connected? == "invite" %>
        <%= link_to "Admin Connexion", new_admin_session_path, class: "menu-link" %>
        <%= link_to "Examiner Connexion", new_examiner_session_path, class: "menu-link" %>
      <% elsif who_is_connected? == "examinateur" %>
        <%= link_to "Tableau de bord", dashboard_path, class: "menu-link" %>
      <% elsif who_is_connected? == "admin" %>
        <%= link_to "Tableau de bord", dashboard_path, class: "menu-link" %>
        <%= link_to "Paramétre", settings_admin_path, class: "menu-link" %>
      <% end %>
    </div>
  </div>

  <div class="sidebar-footer">
    <% if who_is_connected? != "invite" %>
      <button type="button" class="btn-logout" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fa-solid fa-right-from-bracket"></i> Déconnexion
      </button>
    <% end %>
  </div>
</div>
<%= render "partial/modal" %>
