<tr>
  <td class="group-info">
    <%= group.photo.attached? ? image_tag(group.photo) : image_tag("group_default.webp") %>
      <p><%= group.name %></p>
  </td>

    <td class="">
      <%= group.etablished %>
    </td>

  <% if group.ratted %>
    <td class="marked final-marks <%= group.classify_mark(group.final_marks)[:class] %>"><p><%= group.final_marks %></p></td>
  <% else %>
    <td class="marked final-marks">En cours</td>
  <% end %>
</tr>

<div class="mobile-card">
  <div class="mobile-card-header">
    <%= group.photo.attached? ? image_tag(group.photo) : image_tag("group_default.webp") %>

    <div>
      <strong><%= group.name %></strong>
      <p><%= group.etablished %></p>
    </div>
  </div>

  <% evaluation = group.evaluation %>

  <div class="mobile-card-body">
    <span class="mobile-badge">
      Etablissement: <%= group.etablished %>
    </span>
    <span class="mobile-badge mark-<%= group.classify_mark(group.final_marks)[:class] %>">
      Notes Finale : <%= group.ratted ? group.final_marks : "En cours" %>
    </span>
  </div>
</div>
