<tr>
  <td class="group-info">
    <%= group.photo.attached? ? image_tag(group.photo) : image_tag("group_default.webp") %>
    <div>
      <p><%= group.etablished %></p>
      <p><%= group.name %></p>
    </div>
  </td>
  <% evaluation = group.evaluation %>
  <% evaluation.each do |element| %>
    <td class="marked <%= element[:class] %>"><p><%= element[:mark] %></p></td>
  <% end %>
  <% if group.ratted %>
    <td class="marked final-marks <%= group.classify_mark(group.final_marks)[:class] %>"><p><%= group.final_marks %></p></td>
  <% else %>
    <td class="marked final-marks">en cours</td>
  <% end %>
</tr>
