<%= render "partial/back_button", page_name: "home", page_path: root_path %>
<% if admin_signed_in? || status.leaderboard %>
  <div class="age-sections-container" style="background: url('<%= asset_path "gradient_purple.avif"%>')">
    <div class="mobile-age-selector">
    <% @age_sections.order(:value).each do |age| %>
      <button class="age-btn" data-age="<%= age.value %>">
        <%= age.ages %>
      </button>
    <% end %>
  </div>

    <% @age_sections.order(:value).each do |age_section| %>
      <div class="leadeardboard" data-age-section="<%= age_section.value %>" >
        <h1 class="title"><%= age_section.ages %></h1>
        <div class="table-wrapper">
          <table>
            <thead>
              <tr>
                <th id="topics">Groupes</th>
                <th id="replies">Établissement</th>
                <th id="views">Notes finales</th>
              </tr>
            </thead>

            <tbody id="posts-container">
              <% age_section.groups.where(ratted: true).order(points: :desc).each do |group| %>
                <%= render "group", group: group %>
              <% end %>
              <% age_section.groups.where(ratted: false).each do |group| %>
                <%= render "group", group: group %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="evaluation-en-cours">
    <div class="evaluation-message">
      <h2>Évaluation en cours</h2>
      <p>Veuillez patienter pendant que l'évaluation se déroule.</p>
    </div>
  </div>
<% end %>

<script>
  document.addEventListener("turbo:load", () => {

    // ⛔️ Si écran > 768px → on sort du script
    if (window.matchMedia("(min-width: 769px)").matches) {
      return;
    }

    const buttons = document.querySelectorAll(".age-btn");
    const sections = document.querySelectorAll(".leadeardboard");

    if (buttons.length === 0 || sections.length === 0) return;

    buttons.forEach(btn => {
      btn.addEventListener("click", () => {
        const age = btn.dataset.age;

        sections.forEach(section => {
          if (section.dataset.ageSection === age) {
            section.style.display = "block";
          } else {
            section.style.display = "none";
          }
        });

        buttons.forEach(b => b.classList.remove("active"));
        btn.classList.add("active");
      });
    });

    // active automatiquement le premier bouton
    buttons[0].click();
  });
</script>
