<%= render "partial/back_button", page_name: @establishment.name, page_path: establishment_path(@establishment.id) %>
<div class="evaluation-container">
  <div class="evaluation-card">

    <div class="card-header">
      <div class="icon-header">
        <i class="fa-solid fa-clipboard-check"></i>
      </div>
      <h5>evaluation de <%= @establishment.name %></h5>
      <p>Veuillez noter chaque critère ci-dessous</p>
    </div>

    <%= form_with model: @establishment_criterium , url: establishment_establishment_criteria_path(@establishment.id, @establishment_criterium), local: true, class: "evaluation-form" do |f| %>

      <div class="criteria-list">
        <% CriteriumCategory.categories[@criterium_category.name].each do |key, value| %>
          <div class="criterium-item">
            <div class="criterium-label">
              <span class="key-name"><%= key.to_s.humanize %></span>
              <span class="key-desc"><%= value %></span>
            </div>

            <div class="star-rating">
              <% 5.downto(1) do |i| %>
                <% unique_id = "#{key}_#{i}" %>
                <%= f.radio_button key.to_sym, i, id: unique_id, class: "star-input", required: true %>
                <label for="<%= unique_id %>" class="star-label" title="<%= i %> étoiles">
                  <i class="fa-solid fa-star"></i>
                </label>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="form-actions">
        <%= f.submit "Valider l'évaluation", class: "btn-submit-gradient" %>
      </div>

    <% end %>
  </div>
</div>
