<%= render "partial/back_button", page_name: "Retour", page_path: establishments_path %>
<div class="group-show-wrapper">

  <%# --- HEADER --- %>
  <header class="page-header">
    <div class="header-top">

      <% if admin_signed_in? %>
        <%= link_to edit_establishment_path(@establishment), class: "btn-ghost" do %>
           Modifier le groupe
        <% end %>
      <% end %>
    </div>

    <div class="header-banner">
      <div class="banner-content">
        <span class="badge-theme">Evaluation</span>
        <h1><%= @establishment.name %></h1>

        <div class="meta-tags">
          <span>Evaluation par Etablissements</span>
        </div>
      </div>
    </div>
  </header>


  <%# --- GRID LAYOUT --- %>
  <div class="dashboard-grid">

    <%# --- COLONNE GAUCHE (Contenu Principal) --- %>
    <div class="main-column">

      <%# CARTE 1: ÉVALUATIONS %>
      <section class="custom-card">
        <div class="card-header">
          <h3>Évaluations</h3>
        </div>

        <div class="card-body">
          <div class="categories-list">
            <%# Vue Admin : On affiche tout %>
            <% if admin_signed_in? %>
              <div class="admin-cat-block">
                <% @permited_examiners.each do |examiner| %>
                  <%= link_to examiner.name, "#", class: "btn btn-primary" %>
                <% end %>
              </div>

            <%# Vue Examinateur : Dropdowns Stylisés %>
            <% else %>
              <%= link_to "Evaluer","#" %>
            <% end %>
          </div>

          <%# ACTIONS EXAMINATEUR %>
          <% if examiner_signed_in? %>

          <% end %>
        </div>
      </section>

      <%# CARTE 2: VIDÉO %>
      <section class="custom-card">

      </section>
    </div>


    <%# --- COLONNE DROITE (Sidebar) --- %>
    <aside class="sidebar-column">

      <%# CARTE RÉSULTAT (Mise en avant avec le dégradé) %>


      <%# CARTE MEMBRES %>
      <div class="custom-card members-card">
        <div class="card-header">
          <h3>Nom des Groupes</h3>
        </div>
        <ul class="members-list">
          <% @establishment.groups.each do |group| %>
            <li>
              <span class="avatar"><%= group.name[0].upcase %></span>
              <span class="name"><%= group.name %></span>
            </li>
          <% end %>
        </ul>
      </div>

    </aside>

  </div>
</div>
